form{
    left: 50%;
    margin-left: -5%;
    position:fixed;
}
input {    
    display: block;
}

label{
    vertical-align: middle;
}

.desc-lab{
    margin-top: 5px;
}

textarea{
    vertical-align: top;
    height:75px ;
    width: 69%;
    resize: none;
}



